{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" style="color:#db3546" href="/index">Cakery&Bakery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/index">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/add">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/index">Pricing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5 d-flex justify-content-center bg-secondary-subtle">
    <form method="post" action="{% url 'add' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container">
        <a class="navbar-brand text-white fs-6" href="/index">Copyright &copy; HCI 2024</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white fs-6" aria-current="page" href="/index">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-6" aria-current="page" href="/index">Term</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-6" aria-current="page" href="/add">Add</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>